######################
## EPiServer Files
######################
*License.config
.vs/
EPiFaceRecognition/bin/
EPiFaceRecognition/obj/
Interface.Web/App_Data/
Interface.Web/bin/
Interface.Web/obj/
packages/
*.user